$font-stack-system: "Open Sans", sans-serif;
$heading-font-family: "Open Sans", sans-serif;
$all-buttons: 'button, input[type="button"], input[type="submit"]';
$all-text-inputs: 'input[type="text"], input[type="password"], input[type="email"], input[type="tel"]';
